body
{
	padding:0px;
	margin:0px;
}
.swapper_menu1
{
	width:600px;
	margin:auto;
}
ul.menu1
{
	padding:0px;
	margin:0px;
	list-style: none;
}
.ul.menu1::after
{
	content: "";
	display: table;
}
ul.menu1>li
{
	float:left;
	border-right: 2px solid white;
}
ul.menu1>li:last-child
{
	border-right:none;
}
ul.menu1>li a
{
	display: block;
	background-color: blueviolet;
	line-height:40px;
	padding:0px 30px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
ul.menu1>li a:hover
{
	background-color: brown;
}
