*{
    margin: 0px;
    padding: 0px;
}
.menu{
    margin:50px;
}
/* simpleHor */
nav.simpleHor{


}
nav.simpleHor ul{
    list-style-type: none ;

}
nav.simpleHor li{
    background-color: red;
    float: left;
    width: 200px;
    border: 1px solid black;
    height: 40px;
}
nav.simpleHor li a{
    display: block;
    text-align: center;
    line-height: 40px;
    color: white;
    text-decoration: none;
}
.cls{
    clear: both;
}


/* simleVertical */
nav.simleVertical{


}
nav.simleVertical ul{
    list-style-type: none ;
    width: 200px;
}
nav.simleVertical li{
    background-color: red;
    float: left;
    width: 200px;
    border: 1px solid black;
    height: 40px;
}
nav.simleVertical li a{
    display: block;
    text-align: center;
    line-height: 40px;
    color: white;
    text-decoration: none;
}
.cls{
    clear: both;
}

/* dropdow */
nav.dropdow{


}
nav.dropdow ul{
    list-style-type: none ;
}
nav.dropdow li{
    background-color: red;
    float: left;
    width: 200px;
    border: 1px solid black;
    height: 40px;
}
nav.dropdow li a{
    display: block;
    text-align: center;
    line-height: 40px;
    color: white;
    text-decoration: none;
}
nav.dropdow li ul{
    visibility: hidden;
}
nav.dropdow li:hover ul{
    visibility: visible;
}
nav.dropdow li a:hover{
    background-color: aqua;
}
.cls{
    clear: both;
}


/* flyout */
nav.flyout{


}
nav.flyout ul{
    list-style-type: none ;
    width: 200px;
}
nav.flyout li{
    background-color: red;
    float: left;
    width: 200px;
    border: 1px solid black;
    height: 40px;
}
nav.flyout li a{
    display: block;
    text-align: center;
    line-height: 40px;
    color: white;
    text-decoration: none;
}
nav.flyout li ul{
    visibility: hidden;
}
nav.flyout li:hover ul{
    visibility: visible;
}
nav.flyout li a:hover{
    background-color: aqua;
}
nav.flyout li ul{
    position:absolute;
    left: 252px;
    top: 493px;
}
.cls{
    clear: both;
}
